api/.vs/slnx.sqlite
api/.vs/VSWorkspaceState.json
api/.vs/api/DesignTimeBuild/.dtbcache.v2
api/.vs/api/config/applicationhost.config
api/.vs/api/v16/.suo
api/obj/api.csproj.nuget.dgspec.json
api/obj/api.csproj.nuget.g.props
api/obj/api.csproj.nuget.g.targets
api/obj/project.assets.json
api/obj/project.nuget.cache
api/obj/Debug/net5.0/api.AssemblyInfo.cs
api/obj/Debug/net5.0/api.assets.cache
api/obj/Debug/net5.0/api.csproj.CoreCompileInputs.cache
api/obj/Debug/net5.0/api.csproj.FileListAbsolute.txt
api/obj/Debug/net5.0/api.csprojAssemblyReference.cache
api/obj/Debug/net5.0/api.dll
api/obj/Debug/net5.0/api.genruntimeconfig.cache
api/obj/Debug/net5.0/api.pdb
api/obj/Debug/net5.0/project.razor.json
.vscode/launch.json
.vscode/tasks.json
.vscode/launch.json
