.card-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem;
}

.card-list-wrap {
    max-width: 600px;
    margin: auto;
}

.card {
    margin: 0.5rem;
    max-width: 600px;
    width: 90%;
    flex-shrink: 0;
    box-shadow: 1px 2px 2px;
}

.card-click {
    cursor: pointer;
}

.card-click:hover {
    box-shadow: 1px 2px 4px;
}

.card-thin {
    max-width: 300px;
}