<app-toolbar [actions]="['undo','edit', 'add', 'delete']" (clicked)="toolbarClicked($event)"></app-toolbar>
<div class="card-list card-list-wrap">
    <mat-card class="card">
        <mat-card-title>{{recipe?.name}}</mat-card-title>
        <mat-card-subtitle>{{recipe?.people}} Personen</mat-card-subtitle>
        <mat-chip-list>
            <mat-chip *ngFor="let tag of recipe?.tags">
                {{tag.name}}
            </mat-chip>
        </mat-chip-list>
    </mat-card>

    <mat-card class="card">
        <mat-card-title>Zutaten</mat-card-title>
        <ul>
            <li *ngFor="let component of recipe?.components">
                {{component.amount}} {{component.unitShortname}} {{component.name}}
            </li>
        </ul>
    </mat-card>
    <mat-card class="card">
        <mat-card-title>Arbeitsschritte</mat-card-title>
        <p *ngFor="let instruction of recipe?.instructions">
            {{instruction.step}}. {{instruction.description}}
        </p>

    </mat-card>
</div>