.sidenav {
    margin: 2rem
}

.navigation-button-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.navigation-button {
    flex-basis: 100%;
    * {
        width: 100%;
        font-size: 12pt;
    }
}

h3 {
 font-size: 15pt;
}